<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acervo de Livros</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/style<?= $tipoAplicacaoDestino == 'Form' ? 'Grid' : 'Form'; ?>.css">
</head>
<body>
    <header>
        <div class="line"></div>
        <div class="container header">
            <div class="header-left">
                <a href="../../principal.html">
                <svg>
                    <image href="../../assets/img/logo.svg"/>
                </svg>
                </a>
            </div>
            <div class="header-right">
                <nav>
                    <ul>
                        <li><a href="../../principal.html">Início</a></li>
                        <li><a href="<?= strtolower($nomeAplicacao).$tipoAplicacaoDestino; ?>.php"> <?= ($acaoAplicacao == 'Cadastrar' ? 'Listar' : 'Cadastrar')." ".$nomeAplicacao; ?></a></li>
                    </ul>
                </nav>                        
            </div>
        </div>    
    </header>
    <main>
        <section class="home">
