.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #FFF;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 30px;
}

.grid-header-message {
    grid-column: 1 / -1;
    background-color: #FFF;
}

.grid-header {
    font-weight: bold;
    text-align: center;
    background-color: #F94615;
    color: #FFF;
    padding: 10px;
    border: 1px solid #ccc;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.grid-item-left {
    text-align: left !important;
}

.grid-item a {
    margin-right: 10px;
}

.iframe-grid-off {
    display: none;
}

.iframe-grid {
    width: 100%;
    border: none;
    height: 100px;
}

.pagination {
    align-items: center;
    background-color: #FFF;
    display: flex; 
    grid-column: 1 / -1; 
    justify-content: center; 
    padding-top: 10px;
    text-align: center;
}

.btn-pagination {
    padding: 0px 10px;
    color: #F94615;
};